.audio-player-container {
	position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
	text-align: center;
}

.audio-player-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	filter: blur(5px);
	z-index: -1;
}

.audio-player {
	margin: 1.5em 0;
}