.episode-title {
    display: inline-block;
    padding: 1rem 1.5rem;
    color: white;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
    font-family: 'Josefin+Slab';
    letter-spacing: 2px;

	&.show-full {
		& .episode-title-short {
			display: none;
		}

		& .episode-title-full, & .episode-subtitle {
			display: block;
		}
	}

}

.episode-title-short {
	display: block;
}

.episode-title-full, .episode-subtitle {
	display: none;
}

.episode-title-full {
	font-size: 2em;
	padding-bottom: 1em;
}



