.episode-wrapper {
	/* TODO: separate grid and visual concerns */
	display: inline-flex;
    justify-content: center;

    margin: .25rem;
    font-size: 1.5em;
	cursor: pointer;
	background-size: cover;

    /* to hide the image */
    transition: background-color 0.5s ease, flex-grow 0.5s ease;
    background-blend-mode: color-burn;
    background-color: color(black alpha(-20%));

    &.active {
        background-color: color(black alpha(-55%));
        flex-grow: 4;
    }
}

