.loading-screen {
	color: white;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:2em;
	font-family: 'VT323', monospace;
	transition: opacity 1s ease;

	&.is-active {
		opacity: 0;
	}
}

